*{
    box-sizing: border-box;
}


body{
    background-color: #1a1a1a;
    color: #808080;
    font-family: system-ui;
    overflow-x: hidden;
    margin: 0;
}

.container{
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s;
}

.container.show-nav{
    transform: rotate(-20deg);
}

img{
    width: 200px;
}